// Style for the Collapsible card component.
// -----------------------------------------------------------------------------
.collapsible-card {
  border-radius: 4px;
  transition: $transition-base;

  + .collapsible-card {
    margin-top: 1rem;
  }
  .btn {
    background: none;
    color: #333;
  }
  .wrapper--secondary .api-product-list-row {
    padding: 5px 0px;
  
    .api-product-name {
      display: inline-block;
      width: 160px;
      min-width: 160px;
    }
  }
  
  .card-body > div {
    padding: 5px 0px;
  }
}

.collapsible-card__content {
  display: none;
  border:1px solid #ddd;

  .field,
  .tab-pane .field {
    width: 100%;
    padding: 1.2rem 0;
    font-size: 0.875rem;

    &:first-child {
      padding-top: 0;
    }

    .field__label {
      min-width: 160px;
    }
  }
}

  // Active state
// -----------------------------------------------------------------------------
.collapsible-card--active {
  box-shadow: $box-shadow-sm;
}
